src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:marketo="http://www.mulesoft.org/schema/mule/marketo" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/marketo http://www.mulesoft.org/schema/mule/marketo/current/mule-marketo.xsd">
    <flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73">
        <scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd">
            <scheduling-strategy>
                <fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.start.delay}" />
            </scheduling-strategy>
        </scheduler>
        <flow-ref doc:name="queryFlow" doc:id="ada07859-8839-4751-9623-68a08d31a472" name="queryFlow" />
        <flow-ref name="businessLogicFlow" doc:name="businessLogicFlow" doc:id="e16bf02c-b833-47de-afd5-2329ce1fab2b" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate"
                doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
                <flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="queryFlow">
        <os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve lastQueryTimestamp">
            <os:default-value><![CDATA[${watermark.default.expression}]]></os:default-value>
        </os:retrieve>
        <marketo:get-paging-token doc:name="Get paging token from Marketo" doc:id="d078335f-8e6c-421d-b706-7c18fef7efb8"
            config-ref="Marketo_Config" since-datetime="#[vars.lastQueryTimestamp]" />
		<marketo:get-lead-changes doc:name="Get Lead changes from Marketo" doc:id="02b063a9-1611-4de5-a1e9-ab5ba10a9fe6" config-ref="Marketo_Config" next-page-token="#[payload.nextPageToken]" fields='#["firstName,lastName,email,company,country"]'>
		</marketo:get-lead-changes>
        <ee:transform doc:name="Get Ids and ActiveDates from Marketo response" doc:id="caa12f95-5eb1-4d00-8ce3-5f8445967c19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.result map {
	Id: $.leadId,
	ActivityDate: (($.activityDate as DateTime)+ |PT1S|) as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log leads from Marketo" doc:id="08f68fa6-4350-4e49-86c3-0736bb52ecc1" message="Leads from Marketo: #[output application/json --- payload]"/>
        <os:store key="watermark" failOnNullValue="false" objectStore="watermarkStore" doc:name="Store lastQueryTimestamp">
            <os:value><![CDATA[#[max(payload map $.ActivityDate)]]]></os:value>
        </os:store>
    </flow>
</mule>


        