src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:marketo="http://www.mulesoft.org/schema/mule/marketo" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/marketo http://www.mulesoft.org/schema/mule/marketo/current/mule-marketo.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <marketo:config name="Marketo_Configuration" clientId="${mkto.clientId}" clientSecret="${mkto.clientSecret}" restEndpointUrl="${mkto.endpointUrl}" doc:name="Marketo: Configuration"/>
    
        <flow name="triggerFlow"  processingStrategy="synchronous" doc:description="This is the simpliest entry point to start the excecution of your Anypoint Template you should: 
	* Define any inbound endpoint
	* Handle any input parameter and transform it into the expected format by the mainFlow
Here you should not: 
	* Run validations against external systems
	* Choose flow of your application based on input parameters">
        <poll doc:name="Poll Marketo for changes">
            <fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="${polling.startDelayMillis}"/>
            <watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.ActivityDate]"/>
            <processor-chain doc:name="Processor Chain">
                <logger message="Fetching Marketo for updates: #[flowVars.lastQueryDate]" level="INFO" doc:name="Logger"/>
                <marketo:get-paging-token config-ref="Marketo_Configuration" sinceDateTime="#[flowVars['lastQueryDate']]" doc:name="Get paging token from Marketo"/>
                <marketo:get-lead-changes config-ref="Marketo_Configuration"  doc:name="Get Lead changes from Marketo">
                    <marketo:fields>
                        <marketo:field>firstName,lastName,email,company,country,sfdcLeadOwnerId</marketo:field>
                    </marketo:fields>
                </marketo:get-lead-changes>
                <dw:transform-message doc:name="Get Ids and ActiveDates from Marketo response">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map {
	Id: $.leadId,
	ActivityDate: $.activityDate as :string {format: "yyyy-MM-dd'T'HH:mm:ss"}
}]]></dw:set-payload>
                </dw:transform-message>

            </processor-chain>
        </poll>
        <flow-ref name="mainFlow" doc:name="Call mainFlow"/>
        

    </flow>

</mule>
